[Desktop Entry]
Encoding=UTF-8
Name=PerlWatcher-GTK
Comment=Configure (very flexible, in perl) and watch different events.
Exec=perl-watcher-gtk
Icon=/home/dmol/development/perl/group-perl-watcher/ui-gtk/share/assets/icons/perl_watcher.png
Categories=Network;Utility
Version=1.0
Type=Application
Terminal=0
